
.root{
    -fx-background-image:url("../Images/scene2.jpg");;
    -fx-background-size: cover;
    -fx-font-family: "Courier New";
     -fx-text-fill: #ffffff;
}


.label {

    -fx-padding: 5.0px;
    -fx-min-width: 200.0;
    -fx-max-width: 2000.0;
    -fx-alignment: center;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 )
}

.button{
    -fx-background-color: linear-gradient(#696969, #808080);
    -fx-background-radius:5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Courier New";
}
.button:hover {
    -fx-background-color: linear-gradient(#696969,#000000);

}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
